server:
  address: 0.0.0.0
  port: 8080
  servlet:
    context-path: /api

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/library_system?useUnicode=true&characterEncoding=utf-8&serverTimezone=UTC
    username: root
    password: 123456
  main:
    banner-mode: off
  application:
    name: LibrarySystem
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
  redis:
    host: localhost
    port: 6379
    database: 0
    timeout: 10000ms
    lettuce:
      pool:
        max-active: 8
        max-idle: 8
        min-idle: 0
        max-wait: -1ms

mybatis-plus:
  global-config:
    banner: false
  mapper-locations: classpath*:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true

jwt:
  secret: MySuperSecureJwtSecretKeyForBookSystem20251229
  expiration: 259200

logging:
  level:
    com.com.xs: INFO
    org.springframework.web: WARN  # 减少Spring框架日志
    org.mybatis: WARN              # 生产环境建议改为WARN
  pattern:
    console: "%d{HH:mm:ss.SSS} %highlight(%-5level) [thread] %cyan(%-15.15logger{0}) - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{30} - %msg%n"