<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xs.booksystem.mapper.SystemConfigMapper">

    <resultMap id="BaseResultMap" type="com.xs.booksystem.pojo.DTO.SystemConfigDTO">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="configKey" column="config_key" jdbcType="VARCHAR"/>
            <result property="configValue" column="config_value" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,config_key,config_value,
        description,create_time
    </sql>
</mapper>
